@model List10Csharp.Models.Category

<h1>@Model.Name Products</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Articles.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Articles.First().Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Articles.First().Price)
            </th>
            <th>
                Add to cart
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var article in Model.Articles)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => article.Name)</td>
                <td>
                    <img src="~/@article.ImagePath" alt="Article Image" width="100" height="100" />
                </td>
                <td>@Html.DisplayFor(modelItem => article.Price)</td>
                <td>
                    <form asp-controller="Shop" asp-action="AddToCart" method="post">
                        <input type="hidden" name="articleId" value="@article.Id" />
                        <button type="submit">Add</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
