@model IEnumerable<List10Csharp.Models.Article>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var article in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => article.Name)
                </td>
                <td>
                    <img src="~/@article.ImagePath" alt="Article Image" width="100" height="100" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => article.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => article.Category.Name)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@article.Id">Details</a> |
                    <a asp-action="Edit" asp-route-id="@article.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@article.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
